<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item" *ngIf="!player">
      <a routerLink="/login" class="navbar-link">Login</a>
    </li>
    <li class="navbar-item" *ngIf="!player">
      <a routerLink="/register" class="navbar-link">Register</a>
    </li>
    <li class="navbar-item" *ngIf="player" class="navbar-user-info">
      <app-user-info [player]="player"></app-user-info>
    </li>
    <li class="navbar-item" *ngIf="player">
      <a type="button" (click)="logout()" class="navbar-link">Logout</a>
    </li>
  </ul>
</nav>
