<!-- <button *ngIf="!gameStarted" (click)="createNewGame()">Lancer une nouvelle partie</button> -->

<!-- <game *ngIf="gameStarted"></game> -->

<!-- <nav>
  <a *ngIf="!isRegisterPage()" class="button nav-link" routerLink="/register">Register</a>
  <a *ngIf="!isLoginPage()" class="button nav-link" routerLink="/login">Login</a>
</nav> -->


<app-navbar></app-navbar>


<div class="main-box">
  <div class="inner-box">
    <h1 classe="title">Welcome to NgChess</h1>
    <div *ngIf="!isLoggedIn()" class="info-text">
      <p>Register to create a new account and start playing chess with others.</p>
      <p>Login if you already have an account to continue your chess journey.</p>
    </div>
    <div *ngIf="isLoggedIn()" class="info-text">
      <p>You're logged in and can start play now by clicking on "Create" or "Join" a game !</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

