
.main-box {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .info-text {
    margin-top: 1rem;
    p {
      margin: 0.5rem 0;
    }
  }
}

.inner-box {
  margin: 2rem;
}
