<section *ngIf="!game?.isStarted()">
  <form (submit)="startGame()">
    <div>
      <label for="whitePlayerName">Nom du joueur blanc :</label>
      <input type="text" id="whitePlayerName" [(ngModel)]="whitePlayer" name="whitePlayer" required>
    </div>
    <div>
      <label for="blackPlayerName">Nom du joueur noir :</label>
      <input type="text" id="blackPlayerName" [(ngModel)]="blackPlayer" name="blackPlayer" required>
    </div>
    <button type="submit">Lancer la partie</button>
  </form>
</section>

<section class="game-header" *ngIf="game?.isStarted()">
  <h1>Partie en cours entre {{ game!.whitePlayerName }} et {{ game!.blackPlayerName }}</h1>
</section>
<section class="game-main" *ngIf="game?.isStarted()">
  <section class="game-board">
    <h2>tour des {{ isWhiteTurn() ? 'blancs' : 'noirs' }}</h2>
    <chess-board
      *ngIf="game?.isStarted()"
      [board]="game?.board!"
      (turnChanged)="handleTurnChanged($event)"></chess-board>
  </section>

  <section class="moves-history" >
    <h3>Historique des coups</h3>
    <ul>
      <li *ngFor="let move of game!.moveHistory">{{ move.code }}</li>
    </ul>
  </section>
</section>
