<section *ngIf="!isGameLoaded()">
  <h1>Chargement de la partie...</h1>
</section>
<section *ngIf="isGameWaitingForPlayerTwo()">
  <h1>En attente du second joueur...</h1>
</section>


<section class="game-header" *ngIf="game?.isStarted()">
  <h1>Partie en cours entre {{ game!.whitePlayer.pseudo }} et {{ game!.blackPlayer.pseudo }}</h1>
</section>
<section class="game-main" *ngIf="game?.isStarted()">
  <section class="game-board">
    <h2>tour des {{ isWhiteTurn() ? 'blancs' : 'noirs' }}</h2>
    <hyatt-board
      *ngIf="game?.isStarted()"
      (turnChanged)="handleTurnChanged($event)"
      (moveDone)="handleHyattMoveDone($event)"></hyatt-board>
  </section>

  <section class="moves-history" >
    <h3>Historique des coups</h3>
    <ul>
      <li *ngFor="let move of game!.moveHistory">{{ move.code }}</li>
    </ul>
  </section>
</section>
